Django==5.2.16
djangorestframework==3.17.1
streamlit==1.59.2
streamlit-option-menu==0.4.0
ultralytics==8.4.92
torch==2.13.0
torchvision==0.28.0
opencv-python==5.0.0.93
numpy==2.4.6
pandas==3.0.3
Pillow==12.3.0
matplotlib==3.11.0
openpyxl==3.1.5
python-dotenv==1.2.2
google-generativeai==0.8.6
requests==2.34.2
reportlab==5.0.0
mysqlclient==2.2.8
djangorestframework==3.17.1